<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active logo">
              <%= link_to('<span>Book Reviews</span>'.html_safe, root_path) %>
            </li>
            <li class="nav-item">
              <%= link_to('About'.html_safe, '/about/about', class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted footer__logo">
          <a href="#">Book Reviews</a>
        </div>
        <nav class="footer__navigation">
          <ul>
            <li><a href="#nolink">About</a></li>
            <li><a href="#nolink">Terms of Use</a></li>
          </ul>
        </nav>
        <p class="copyright">&copy; Philippe Davet 2020</p>
      </div>
    </footer>

  </body>
</html>
